html,
body {
  height: 100%;
  margin: 0;
}

.wd-image {
  /* The image used */ /* 
  background-image: url("./WeDelivery.jpeg"); */
  background-image: url("../login/WeDelivery.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: #f3f1e8;
  overflow: hidden;
}

.h-format {
  position: absolute;
  top: 22%;
  left: 5%;
  margin-top: -50px;
  margin-left: -50px;
  color: #b5423b;
  font-size: 65px;
  text-align: center;
}
.para {
  position: absolute;
  top: 60%;
  left: 5%;
  margin-top: -50px;
  margin-left: -50px;
  color: #707070;
  font-size: 50px;
  text-align: center;
}
